#new-entry
  %form#new-entry-form{:action => "/new", :method => "post"}
    %input#entry{:type => "text", :name => "entry", :value => "Question"}
    %input{:type => "submit", :value => "Create"}
    or
    %a#cancel-entry-form{ :href => "#"} cancel
#entries
  .actions
    %a#back.hidden{ :href => "#" } Back to list
    %span.select
      Select
      %a#select_all{ :href => "#"} All
      ,
      %a#select_none{ :href => "#"} None
    %span.actions
      %select#actions{:name => "actions"}
        %option Actions
        %option{ :disabled => true} Give rating
        %option{ :value => "rate-1" } &#9734;
        %option{ :value => "rate-2" } &#9734;&#9734;
        %option{ :value => "rate-3" } &#9734;&#9734;&#9734;
        %option{ :value => "rate-4" } &#9734;&#9734;&#9734;&#9734;
        %option{ :value => "rate-5" } &#9734;&#9734;&#9734;&#9734;&#9734;
  .display
    %ul.list
      - for entry in @entries
        = haml :_entry, :locals => {:entry => entry}, :layout => false

#pagination
  %a{ :href => next_page_url(@entries) } Next Page
%script{ :language => "javascript", :type => "text/javascript" }
  - for entry in @entries
    = "new Sift.Entries.Entry(\"#{entry.id}\", #{entry.rating || 0}, \"#{entry.updated_at}\")"