#entries
  .actions
    %a#back.hidden{ :href => "#" } Back to list
    %span.select
      Select
      %a#select_all{ :href => "#"} All
      ,
      %a#select_none{ :href => "#"} None
    %span.actions
      %select#actions{:name => "actions"}
        %option Actions
        %option{ :disabled => true} Give rating
        %option &#9734;
        %option &#9734;&#9734;
        %option &#9734;&#9734;&#9734;
        %option &#9734;&#9734;&#9734;&#9734;
        %option &#9734;&#9734;&#9734;&#9734;&#9734;
  .display
    %ul.list
      - for entry in Sift::Entry.all
        %li.entry.closed{ :id => "entry_#{entry.id}" }
          .summary
            .box
              %input{ :type => "checkbox" }
            %ul.rating
              - for i in 1..5
                %li.star
                  %a{ :href => "#", :class => (entry.rating && i <= entry.rating) ? "active" : "" }= i.to_s
            .meta
              %h4
                %a{ :href => "#entry/#{entry.id}"}= entry.entry
          .details.hidden
            - if entry.stanford
              - for domain in entry.stanford["wordnet-firstlevelsplit"]["result"]
                %ul.domain
                  - for possibility in domain
                    %li= possibility
            - else
              %em This entry hasn't been parsed yet

%script{ :language => "javascript", :type => "text/javascript" }
  - for entry in Sift::Entry.all
    = "new Sift.Entries.Entry(\"#{entry.id}\", #{entry.rating || 0}, \"#{entry.updated_at}\")"