!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en-us', :lang => 'en-us' }
  %head
    %title Sift
    %meta{ 'http-equiv' => "content-type", :content => "text/html; charset=utf-8" }
    
    %link{ :rel => 'stylesheet', :href => '/stylesheets/screen.css', :media => 'screen', :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/ratings.css', :media => 'screen', :charset => 'utf-8' }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js", :type => "text/javascript", :charset => "utf-8" }.
    %script{ :src => "/javascript/jquery.color.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/javascript/jquery.hotkeys.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/javascript/sift.js", :type => "text/javascript", :charset => "utf-8" }
    
  %body
    #container
      #header
        %h1 Sift
      #left-nav
        %a#show-entry-form{ :href => "/new" } Add a new entry
        %h3 filter
        %ul
          %li
            %a{:href => "/"}= "All (#{Sift::Entry.count})"
          %li
            %a{:href => "/?rating=none"}= "Unrated (#{Sift::Entry.count(:rating => nil)})"
          %li          
            %a{:href => "/?rating=1"}= "1 star (#{@counts[1]})"
          %li          
            %a{:href => "/?rating=2"}= "2 stars (#{@counts[2]})"
          %li          
            %a{:href => "/?rating=3"}= "3 stars (#{@counts[3]})"
          %li          
            %a{:href => "/?rating=4"}= "4 stars (#{@counts[4]})"
          %li          
            %a{:href => "/?rating=5"}= "5 stars (#{@counts[5]})"
      #content
        = yield